<footer id="credits" class="cs-transparent uk-section uk-section-small uk-background-secondary uk-light uk-text-center uk-text-small">
	<div class="uk-container">
		<p>
			Website hosted on <a href="https://github.com/rafa-br34/rafa-br34.dev">GitHub</a>
			<br>
			Built with
			<a href="https://getuikit.com/" class="uk-link-text" target="_blank">UIkit</a>,
			<a href="https://webpack.js.org/" class="uk-link-text" target="_blank">Webpack</a>,
			<a href="https://www.typescriptlang.org/" class="uk-link-text" target="_blank">TypeScript</a>,
			<a href="https://emscripten.org/" class="uk-link-text" target="_blank">Emscripten</a>, and
			<a href="https://sass-lang.com/" class="uk-link-text" target="_blank">SASS</a>
		</p>
	</div>
	<div class="uk-container">
		<p>©2025 Rafael "rafa_br34" S. T. Third-party content is property of their respective owners.</p>
	</div>
</footer>