<footer id="credits" class="uk-section uk-section-small uk-background-secondary uk-light uk-text-center uk-text-small">
	<div class="uk-container">
		<p>
			Built with
			<a href="https://getuikit.com/" class="uk-link-text" target="_blank">UIkit</a>,
			<a href="https://www.typescriptlang.org/" class="uk-link-text" target="_blank">TypeScript</a>, and
			<a href="https://sass-lang.com/" class="uk-link-text" target="_blank">SASS</a>
		</p>
	</div>
	<div class="uk-container">
		<p>©2025 rafa_br34</p>
	</div>
</footer>