<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>rafa_br34 - About me and my projects</title>

	<link rel="canonical" href="<%- Canonical -%>"/>
	<link rel="icon" href="/assets/favicon.png" type="image/png">

	<meta property="og:title" content="About me" />
	<meta property="og:type" content="profile" />
	<meta property="og:url" content="https://rafa-br34.dev" />
	<meta property="og:image" content="/assets/artwork/gummi_arts_banner.png" />
	<meta property="og:description" content="rafa_br34 is someone who codes C/C++, Python, TypeScript, a bit of Verilog/SystemVerilog and more. &#10;Also, they might be a fluffy feral dragon!" />
	<meta property="og:site_name" content="rafa_br34.dev" />
	<meta property="og:locale" content="en_US" />

	<meta name="twitter:image" content="/assets/artwork/gummi_arts_banner.png" />
	<meta name="twitter:site" content="@rafa_br34" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="rafa_br34" />
	<meta name="twitter:description" content="rafa_br34 is someone who codes C/C++, Python, TypeScript, a bit of Verilog/SystemVerilog and more. &#10;Also, they might be a fluffy feral dragon!" />
	<meta name="twitter:creator" content="@rafa_br34" />
	<meta name="twitter:domain" content="rafa-br34.dev" />
	<meta name="theme-color" content="#ffffff" />
	<meta name="description" content="rafa_br34 is someone who codes C/C++, Python, TypeScript, a bit of Verilog/SystemVerilog and more." />
	<meta name="keywords" content="rafa_br34, rafa-br34, rafabr34, programming, c, c++, python, web development, personal projects, furry, furred dragon, portfolio, biography" />

	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Person",
		"email": "mailto:rafa_br34@exulan.com.au",
		"givenName": "Rafael",
		"name": "rafa_br34",
		"alternateName": [
			"rafabr34",
			"rafa-br34"
		],
		"url": "https://rafa-br34.dev",
		"nationality": {
			"@type": "Country",
			"name": "Brazil"
		},
		"gender": "Male",
		"jobTitle": "Programmer, network engineer, and more",
		"worksFor": {
			"@type": "Organization",
			"name": "Independent Research"
		},
		"knowsAbout": [
			"Networking",
			"Network protocols",
			"Network engineering",
			"Cryptography",
			"Low-level programming",
			"TypeScript",
			"Linux",
			"Python",
			"C++"
		],
		"description": "rafa_br34 is someone who codes C/C++, Python, TypeScript, a bit of Verilog/SystemVerilog and more. Also, they might be a fluffy feral dragon!",
		"image": "https://rafa-br34.dev/assets/artwork/o_pastelzera_portrait.png",
		"sameAs": [
			"https://github.com/rafa-br34",
			"https://github.com/rafabr34",
			"https://www.furaffinity.net/user/rafa-br34",
			"https://bsky.app/profile/r34.bsky.social",
			"https://www.youtube.com/@rafa_br34",
			"https://steamcommunity.com/id/rafa_br34"
		]
	}
	</script>

	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.23.11/dist/css/uikit.min.css" />

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.23.11/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.23.11/dist/js/uikit-icons.min.js"></script>
</head>