<!DOCTYPE html>
<html lang="en">

<%- include("./_head.ejs", { Canonical: "https://rafa-br34.dev/" }) %>

<body>
	<%- include("./_navbar.ejs", { Page: "Home" }) -%>

	<div class="uk-light uk-background-secondary" uk-height-viewport="expand: true">
		<div style="position: relative; overflow: hidden;">
			<img src="/assets/artwork/gummi_arts_banner.png" loading="eager" class="cs-banner" alt="Banner">

			<div class="cs-banner-fade"></div>
		</div>

		<div class="uk-container" style="margin-top: 0px;">
			<h2 class="uk-text-left">
				<span>Hello stranger!</span>
			</h2>

			<div class="uk-grid-large uk-child-width-expand@s" uk-grid>
				<div class="uk-width-2-3@s">
					<p>
						It seems you have found my personal web page! Here you can find some of my projects and perhaps learn a
						bit about me.
					</p>
					<p>
						Online I'm known as rafa_br34, rafa-br34, or rarely rafabr34.
					</p>
					<p>
						I am a Brazilian programmer who codes C/C++, Python, TypeScript, and a bit of
						Verilog/SystemVerilog. I also have a interest in cyber security, computer science, and physics.
					</p>
					<p>
						I might also be a fluffy feral dragon.
					</p>
					<p>
						Feel free to reach out through Discord (rafa_br34) (nearly instant response if I'm awake).
						Alternatively email <a href="mailto:rafa_br34@exulan.com.au">rafa_br34@exulan.com.au</a>
						(will likely take much longer to answer).
					</p>
					<h2 class="uk-text-left">
						<span>Socials</span>
					</h2>
					<div class="uk-flex uk-flex-left uk-flex-middle uk-grid-small" uk-grid>
						<div>
							<a href="https://discord.com/users/642064514476408832" target="_blank">
							<img src="/assets/logos/discord.png" alt="Discord" class="cs-logo-big">
							</a>
						</div>
						<div>
							<a href="https://github.com/rafa-br34" target="_blank">
							<img src="/assets/logos/github.png" alt="GitHub" class="cs-logo-big">
							</a>
						</div>
						<div>
							<a href="https://www.youtube.com/@rafa_br34" target="_blank">
							<img src="/assets/logos/youtube.png" alt="Youtube" class="cs-logo-big">
							</a>
						</div>
						<div>
							<a href="https://steamcommunity.com/id/rafa_br34/" target="_blank">
							<img src="/assets/logos/steam.svg" alt="Steam" class="cs-logo-big">
							</a>
						</div>
						<div>
							<a href="https://bsky.app/profile/r34.bsky.social" target="_blank">
							<img src="/assets/logos/bluesky.svg" alt="Bluesky" class="cs-logo-big">
							</a>
						</div>
						<div>
							<a href="https://www.furaffinity.net/user/rafa-br34" target="_blank">
							<img src="/assets/logos/furaffinity.png" alt="Bluesky" class="cs-logo-big">
							</a>
						</div>
					</div>
				</div>
				<div class="uk-width-1-3@s uk-flex uk-flex-middle uk-flex-center">
					<div class="uk-text-center">
						<img src="/assets/artwork/gummi_arts_stare.png" loading="eager" class="uk-border-rounded" alt="My character drawn by Gummi_art">
						<p class="uk-text-meta uk-margin-small-top">My character drawn by
							<a href="https://www.furaffinity.net/user/gummiart" class="uk-link-text">Gummi_art</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include("./_footer.ejs") %>
</body>

</html>