<!DOCTYPE html>
<html lang="en">

<%- include("./_head.ejs", { Canonical: "https://rafa-br34.dev/projects" }) %>

<body>
	<%- include("./_navbar.ejs", { Page: "Projects" }) -%>
	<div class="uk-light uk-background-secondary uk-flex uk-flex-center uk-flex-middle" uk-height-viewport="expand: true">
		<h1>Coming soon™</h1>
	</div>
	<%- include("./_footer.ejs") %>
</body>
</html>