<!DOCTYPE html>
<html lang="en">

<%- include("./_head.ejs", { Canonical: "https://rafa-br34.dev/projects" }) %>

<body>
	<%- include("./_navbar.ejs", { Page: "Projects" }) -%>

	<div class="cs-transparent uk-light uk-background-secondary uk-flex uk-flex-center uk-flex-middle" uk-height-viewport="expand: true">
		<div class="uk-container uk-text-center">
			<h1>Coming soon™</h1>
			<div>
				<p>In the meanwhile you can have this simulation</p>
			</div>
		</div>
	</div>

	<canvas id="InteractiveBackground" class="cs-overlay-background" style="z-index: -1; height: calc(100vh - 80px); top: 80px;"></canvas>
	<%- include("./_footer.ejs") %>
</body>
</html>